[gcode_macro PRINT_END]
gcode:
    # Set safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    CLEAR_PAUSE #clear pause (from M191) if there is one
    M400 #wait for buffer to clear
    G92 E0 #zero the extruder
    G1 E-20 F500 #retract filament 20mm

    G90 #absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 #move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600 #park nozzle at rear
    {% if (th.position.z < 100) %} #if Z <100, raise it up to 100 height
	    G0 Z100 F3600
    {% endif %}

    G4 P20000 #Delay 20 seconds for filament to have time to ooze out and prepare for next print.

    TURN_OFF_HEATERS #turn off all heaters
    M107 #turn off part cooling fan
    BED_MESH_CLEAR #Clear bed mesh
    SET_GCODE_OFFSET Z=0 #Clear any previous offset
    #UPDATE_DELAYED_GCODE ID=EXHAUST_OFF DURATION=120 #turn exhaust off in 2 min
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_READY #Stealthburner LED
    #UPDATE_DELAYED_GCODE ID=Light_OFF DURATION=300 #turn case ligts off in 5 min
    #DAYLIGHT_OFF